<div class="course-card">

    <!-- <div class="course-title" [ngClass]="cardClasses()">
        <div class="course-title" *ngIf=""course>
            {{index}} {{ course.description }}
        </div>
    </div> -->

    <div class="course-title">
        {{index}} {{ course.description }}
    </div>

    @if (course.id == 1) {
        <div class="course-badge"><h2>Course with ID 1 detected</h2></div>
    }

    @else if(course.iconUrl) {
        <img [src]="course.iconUrl" alt="Angular Logo" width="300">
    }
    @else {
        <h2>No image available</h2>
    }
    <!-- <img width="300" alt="Angular Logo"
         [src]="course.iconUrl"> -->

    <div class="course-description">
        {{ course.longDescription }}
    </div>

    <div class="course-category">
        @switch(course.category) {
            @case ('BEGINNER') {
                <div class="category">Beginner</div>
            }

            @case ('INTERMEDIATE') {
                <div class="category">Intermediate</div>
            }

            @case ('ADVANCED') {
                <div class="category">Advanced</div>
            }

            @default {
                <div class="category">Unknown</div>
            }
        }

    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>
